.header {
  min-width: 320px;

  &__wrapper {
    position: relative;
    text-align: center;
    background: url("../img/header-section/header-bg.png") center no-repeat;
    background-size: cover;
    padding: 0 0 415px 0;
    margin-bottom: 35px;

    @include tablet {
      margin-bottom: 50px;
      padding: 0 0 460px 0;
    }
    @include desktop {
      margin-bottom: 50px;
      padding: 0 0 460px 0;
    }
  }

  &__navigation {
    padding: 30px 10px;
    background: $header-bg-color;
    position: relative;
    margin-bottom: 50px;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 10px 0 10px;
      margin-bottom: 70px;
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      align-items: center;
      padding: 20px 10px 0 10px;
      margin: 0 auto 70px auto;
      background: none;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      @include desktop {
        margin: 0 auto;
      }
    }

    &__link {
      @include tablet {
        display: flex;
        align-items: center;
      }
      @include desktop {
        display: flex;
        align-items: center;
      }
    }

    &__link:hover &__link-text {
      @include desktop {
        color: white;
      }
    }

    &__link-text {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      color: $theme-color;
      margin-left: 17px;
      display: none;

      @include tablet {
        display: inline-block;
      }
      @include desktop {
        display: inline-block;
      }
    }

    &__menu-wrapper {
      @include desktop {
        display: flex;
        align-items: center;
      }
    }

    &__menu {
      position: absolute;
      top: 100%;
      width: calc(100% - 20px);
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s;

      @include tablet {
        position: static;
        max-height: max-content;
      }
      @include desktop {
        position: static;
        max-height: max-content;
        margin-right: 25px;
      }
    }

    &__menu--active {
      max-height: 340px;
    }

    &__list {
      @include tablet {
        display: flex;
        justify-content: center;
      }
      @include desktop {
        display: flex;
        justify-content: center;
      }
    }

    &__item {
      background: $nav-bg;
      padding: 15px 2px;

      @include tablet {
        background: none;
        padding: 0;
      }
      @include desktop {
        background: none;
        padding: 0;
      }
    }
    &__item:hover &__item-link {
      border-left: 8px solid $theme-color;
      color: $theme-color;

      @include tablet {
        color: white;
        border-left: none;
      }
      @include desktop {
        color: white;
        border-left: none;
      }
    }
    &__item-link {
      display: block;
      font-size: 26px;
      color: white;
      padding: 14px 0 14px 30px;
      border-left: 8px solid $nav-bg;
      transition: .3s;
      text-align: left;

      @include tablet {
        font-size: 16px;
        font-weight: 900;
        color: $theme-color;
        padding: 15px 25px;
        border-left: none;
      }
      @include desktop {
        display: block;
        font-size: 16px;
        font-weight: 900;
        color: $theme-color;
        padding: 15px 25px;
        border-left: none;
      }
    }

    &__btn {
      height: 37px;
      width: 119px;
      border-radius: calc(37px / 2);
      color: white;
      font-weight: 900;
      background: $theme-color;
    }
    &__btn:hover {
      @include desktop {
        @include header-btn-hover
      }
    }

    &__burger-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      cursor: pointer;

      @include tablet {
        display: none;
      }
      @include desktop {
        display: none;
      }

      .burger-line {
        height: 3px;
        width: 26px;
        border-radius: calc(3px / 2);
        background: white;
        margin-bottom: 6px;
        transition: .3s all;
      }
      .burger-line:first-child {
        width: 15px;
      }
      .burger-line:last-child {
        margin-bottom: 0;
      }
    }
    &__burger-menu--active {
      .burger-line:first-child {
        opacity: 0;
      }
      .burger-line:nth-child(2) {
        transform: rotate(45deg);
      }
      .burger-line:last-child {
        transform: translate(0px,-8.5px) rotate(-45deg);
      }
    }
  }
  &__head {
    margin-bottom: 20px;
    color: white;
    font-size: 48px;
    font-weight: 900;

    @include tablet {
      font-size: 72px;
    }
    @include desktop {
      font-size: 72px;
    }
  }
  &__under-head {
    margin-bottom: 15px;
    color: $theme-color;
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px;

    @include tablet {
      margin-bottom: 19px;
      font-size: 24px;
    }
    @include desktop {
      margin-bottom: 19px;
      font-size: 24px;
    }
  }
  &__version-text {
    text-transform: uppercase;
    color: $small-text;
    font-size: 14px;
    display: block;
  }
  &__btn-download {
    height: 45px;
    width: 90%;
    max-width: 390px;
    background: $theme-color;
    color: white;
    font-weight: 900;
    font-size: 19px;
    border-radius: calc(45px /2);
    position: absolute;
    top: calc(100% - (45px / 2));
    right: 0;
    left: 0;
    margin: auto;

    @include tablet {
        height: 62px;
        font-size: 21px;
        border-radius: calc(62px /2);
        top: calc(100% - (62px / 2));
      }
    @include desktop {
      height: 62px;
      font-size: 21px;
      border-radius: calc(62px /2);
      top: calc(100% - (62px / 2));
      transition: .3s;
    }
  }
  &__btn-download:hover {
    @include desktop {
      @include header-btn-hover
    }
  }
  &__trial-text {
    font-size: 14px;
    color: $small-text;
    display: block;
    text-align: center;
  }
}