.revolutionary {
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px;
  padding-bottom: 70px;

  &__title{
    padding-bottom: 27px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: #635C73;
    padding-left: 25px;
    padding-right: 25px;
  }

  &__p{

    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  &__btn{
    height: 26px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: $revolutionary_btn_font-family;
    font-weight: bold;
    border: #6a737d 1px solid;
    border-right: none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    transition: .2s;

    &__text {
      padding-left: 3px;
    }

    &__svg {
      fill: rgb(106, 115, 125);
    }

    &-a {
      padding: 5px 10px 5px 10px;
      font-weight: bold;
      font-family: $revolutionary_btn_font-family;
      color: $revolutionary_btn_text_color;
      background: $revolutionary_btn_bgr_color;
      border: #6a737d 1px solid;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
    }

    &__item {
      display: flex;
      font-size: 14px;
      margin-top: 20px;

      &:nth-child(2){
        margin-left: 10px;
      }

      &:nth-child(3){  // чтобы 3й элемент перекинулся на новую строку и был по центру
        margin-left: 100px;
        margin-right: 100px;
      }
    }

    &__wrap {
      min-width: 320px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__btn:hover {
    background-color: #f3f4f6;
  }
}

@include tablet {
  .revolutionary__title{
    font-size: 42px;
  }

  .revolutionary__p{
    font-size: 21px;
    line-height: 32px;
  }
}

@include desktop {

  .revolutionary__title{
    font-size: 54px;
  }

  .revolutionary__p{
    font-size: 21px;
    line-height: 32px;
  }
}

@media screen and (min-width: 480px) {
  .revolutionary__btn__item:nth-child(3){  // чтобы 3й элемент вернулся
    margin-left: 10px;
    margin-right: 0;
  }
}