.talking {
  min-width: 320px;
  padding: 57px 10px 25px 10px;
  background: url("../img/talking-section/talking-bg.png") center no-repeat #4B3B4E;
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @include desktop {
    align-items: center;
  }

  &__head {
    font-size: 36px;
    line-height: 48px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 53px;

    @include tablet {
      font-size: 42px;
      margin-bottom: 88px;
    }
    @include desktop {
      font-size: 48px;
      margin-bottom: 82px;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      align-items: baseline;
      justify-content: space-between;
      grid-column-gap: 50px;
    }
    @include desktop {
      max-width: 1200px;
      padding: 0 10px;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: baseline;
      justify-content: space-between;
      grid-column-gap: 50px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    margin-bottom: 25px;
  }
  &__item-text {
    margin-bottom: 45px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-weight: 700;
    text-align: center;

    @include tablet {
      margin-bottom: 55px;
    }
    @include desktop {
      margin-bottom: 110px;
    }
  }
  &__bottom-text {
    color: $talking-small-text;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    position: relative;
    @include desktop {
      max-width: 1200px;
      padding: 0 10px;
    }
  }
  &__bottom-text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 90%;
    background: #645766;
    top: calc(100% + 20px);
  }
}