@mixin tablet {
  @media screen and (min-width: $tb-min) and (max-width: $tb-max) {
    @content
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: $tb-min) {
    @content
  }
}

@mixin desktop {
  @media screen and (min-width: $dt-min) {
    @content
  }
}

@mixin header-btn-hover {
  border: 2px solid $theme-color;
  background: white;
  color: $theme-color;
}