$revolutionary_btn_text_color: rgb(0,0,0);
$revolutionary_btn_bgr_color: #F4F4F4;
//$revolutionary_btn_font-family: 'Open Sans', sans-serif;

$revolutionary_btn_font-family: 'Montserrat', sans-serif;


$header-bg-color: #27262A;
$theme-color: #8D81AC;
$nav-bg: #333333;
$small-text: #848E97;
$talking-small-text: #A291A5;

$tb-min: 481px;
$tb-max: 992px;
$dt-min: 993px;
